<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Landing page</title>

</head>
<body>
<div class="jumbotron">
	<div class="page-header" [ngStyle]="{'background-color':currentColor}"> 
  <h1> Open {{currentCompany}} Positions : <span class="label"><strong>(27)</strong></span></h1>
</div>
<div class="job-details  row justify-content-md-center">
	<div class="col-md-5 col-sm-6">
  <a href="#" class="img-fluid">
      <img src="assets/images/{{imgUrl}}" alt="...">
    </a>
</div>
<div class="col-md-5 desktop" >
   
    	<ul class="list-group ">
		  <li class="list-group-item"><i [ngStyle]="{'color':currentColor}" class="fa fa-check "></i> &#36;15 - &#36;36 per hour</li>
		  <li class="list-group-item"><i [ngStyle]="{'color':currentColor}" class="fa fa-check"></i> Flexible hours</li>
		  <li class="list-group-item"><i  [ngStyle]="{'color':currentColor}" class="fa fa-check"></i> Quick interview</li>
 		</ul>
</div>
<div class=" col-md-6 mobile">
	<br>
	<h1><strong>${{currentDollar}}/Hour {{currentCompany}} Jobs</strong></h1>
	<br>
	<br>
</div>
</div>
<div class="row justify-content-md-center">
	<div class="col-md-3 arrow">
		
		<i class="fa fa-caret-down bounce " aria-hidden="true"></i>
</div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-6 ">
 
			    <button type="button" class="btn btn-success btn-lg btn-block" (click)="goToQuestions()"><strong>View {{currentCompany}} jobs</strong> </button>
			 
			    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="goToQuestions()"><strong>Immediate hire jobs</strong> <span class="label"> (79) </span> </button>
			
			
		
    	
	</div>
</div>

    <div class="col-md-12">
    	<div class="comments">
    		<h4>Comments:</h4>
		<div class="comment-wrap add-comment">
				<div class="photo">
						<div class="avatar" style="background-image: url('assets/images/default-image.jpg')"></div>
				</div>
				<div class="comment-block">
						<form action="">
								<textarea type="text" name="" id="" cols="30" row="3" placeholder="Write a comment..."></textarea>
						</form>
				</div>
		</div>

		<div class="comment-wrap">
				<div class="photo">
						<div class="avatar " style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
				</div>
				<div class="comment-block">
						<p class="comment-text">Applytojobs.org has gotten me 6 interviews thus far. One with {{currentCompany}} and 5 more with great companies that are minutes away from where I live.</p>
						<div class="bottom-comment">
								
									<ul class="comment-actions">
										 <a href="https://www.fb.com" target="_blank"><li class="reply"> Reply <span>-</span></li></a>
										<a href="https://www.fb.com" target="_blank"><li class="complain"> Like <span>-</span> </li></a>
                                        <li class="minutes"> 17 mins</li>
								</ul>
								
						</div>
				</div>
		</div>

		<div class="comment-wrap">
				<div class="photo">
						<div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/felipenogs/128.jpg')"></div>
				</div>
				<div class="comment-block">
						<p class="comment-text">It took me less than a minute to actually get matched with a job that interviewed me &amp; extended me an offer. It wasn’t {{currentCompany}} but it was still an awesome paying job!.</p>
						<div class="bottom-comment">
									<ul class="comment-actions">
                                        <a href="https://www.fb.com" target="_blank"><li class="reply"> Reply <span>-</span></li></a>
										<a href="https://www.fb.com" target="_blank"><li class="complain"> Like <span>-</span> </li></a>
                                        <li class="minutes"> 12 mins</li>
								</ul>
							
						</div>
				</div>
		</div>
       
</div>
         <footer class="col-md-12 ">
<div>Registered trademarks are the property of their respective owners who do not sponser or endorse this promotion
    <br>
    </div><div>
    To gain access to the job listings, you must agree to our Terms &amp; Conditions and Privacy Policy,provide certian personally identifiable information and consent to our sharing such information with our marketing partners for which we may be compensated</div>
             <br>
        <div>&copy;2017-2018 ApplyToJobs.org All rights reserved<a href="#"> Terms and Conditions </a> <a href="#"> Privacy Policy </a><a href="#">Unsubscribe</a></div> 
            </footer>   
</div>       

    </div>

  
</body>
</html>