<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Landing page</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>

<div class="jumbotron">
  <div class="page-header">
  <h1>Open FedEx positions : <span class="label">27</span></h1>
</div>

<div class="questions-block">
	<div class="page-header">
  <h3>This is the question, below are the options</h3>
</div>
<div class="panel panel-default col-md-12">
  <div class="panel-body">
   

  <button type="button" class="btn btn-success btn-lg">answer number one</button>

   <button type="button" class="btn btn-success btn-lg">answer number two</button>
  </div>
</div>
</div>
  <div class="container">
	
    <div class="row">
		<div class="col-sm-offset-1 col-sm-10">
			<div class="progress">
				<div class="progress-bar progress-bar-success progress-bar-striped" style="width: 25%">
				    <span class="sr-only">35% Complete (success)</span>
				  </div>
				  <div class="progress-bar progress-bar-warning progress-bar-striped" style="width: 25%">
				    <span class="sr-only">20% Complete (warning)</span>
				  </div>
				  <div class="progress-bar progress-bar-danger progress-bar-striped" style="width: 25%">
				    <span class="sr-only">10% Complete (danger)</span>
				  </div>
				  <div class="progress-bar progress-bar-info progress-bar-striped" style="width: 25%">
				    <span class="sr-only">10% Complete (danger)</span>
				  </div>
			</div>
			
			<div class="progress-meter">
				<div class="meter meter-left" style="width: 25%;"><span class="meter-text">Qualify</span></div>
				<div class="meter meter-left" style="width: 25%;"><span class="meter-text">Profile</span></div>
    			<div class="meter meter-right" style="width: 25%;"><span class="meter-text">Positions</span></div>
				<div class="meter meter-right" style="width: 25%;"><span class="meter-text">Finish!</span></div>
			</div>
		</div>
	</div>
</div>
    </div>
    

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>	
</body>
</html>