<div class="questions-block secondqqq">
	<div class="page-header">
  <h3>Please select the position you would like to apply for&#63; </h3>
</div>
<div class="card col-md-12">
  <div class="card-block">
      
   <button type="button" class="btn btn-success btn-lg">Delivery Driver</button>

  <button type="button" class="btn btn-success btn-lg">Cashier</button>

   <button type="button" class="btn btn-success btn-lg">Stocker</button>
      
      <button type="button" class="btn btn-success btn-lg">Sales</button>
      
      <button type="button" class="btn btn-success btn-lg">Customer Service</button>
      
      <button type="button" class="btn btn-success btn-lg">Clerical or Admin</button>
      
      <button type="button" class="btn btn-success btn-lg"> Package Handler</button>
      
      <button type="button" class="btn btn-success btn-lg"> IT</button>
      
      <button type="button" class="btn btn-success btn-lg"> Accounting</button>
      
      <button type="button" class="btn btn-success btn-lg">Other</button>
  </div>
</div>
</div>