   <div class="questions-block secondq">
      <div class="page-header">
      <h3><strong>&#42;NOTE&#42;</strong> Employers are starting to check credit scores &amp; history. It’s a good idea to check on both your credit history and score in order to correct any mistakes before they are seen by employers. Are you interested in viewing your credit score &amp; history(it takes less than 60 seconds)&#63;</h3>
    </div>
    <div class="card col-md-12">
      <div class="card-block">
      <button type="button" class="btn btn-success btn-lg" (click)="nextQuestion('Yes')">Yes</button>
    
       <button type="button" class="btn btn-danger btn-lg" (click)="nextQuestion('No')">No</button>
          
      </div>
    </div>
    </div>