<div class="questions-block " >
	<div class="page-header">
  <h3>Are you looking for a full-time or part-time job?</h3>
</div>
<div class="card col-md-12">
  <div class="card-block">
   

    <button type="button" (click)="nextQuestion('FullTime')" class="btn btn-success btn-lg" >Full Time</button>

    <button type="button" (click)="nextQuestion('PartTime')" class="btn btn-success btn-lg" >Part Time</button>
        
    <button type="button" (click)="nextQuestion('AnyJob')" class="btn btn-warning btn-lg">Any Job</button>
  </div>
</div>
</div>