<div class="questions-block secondq">
	<div class="page-header">
  <h3>Having a CDL can open up a lot of job opportunities that pay 70k&#43;&#46; Are you interested in a 100&#37; FREE CDL training program&#63;</h3>
</div>
<div class="card col-md-12">
  <div class="card-block">
   

  <button type="button" class="btn btn-success btn-lg" (click)="nextQuestion('Yes')">Yes</button>

   <button type="button" class="btn btn-danger btn-lg" (click)="nextQuestion('No')">No</button>
      
  </div>
</div>
</div>