<input type="email" id="email" placeholder="Email here">
<p >
    By submitting this information, you agree that a representative of QuinStreet Education Network can contact you at your number -potentially using automated technology (including Text/SMS messages) or a prerecorded message. Your consent is not an obligation to purchase any educational programs or services
  </p>  
        <button class="btn btn-success btn-md" id="checkboxButton">
            <i class="fa fa-check-square"></i><input class="form-check-input" type="hidden" id="check"
          checked="true" ng-value="true"> I AGREE
    </button>
    
  <button type="button" class="btn btn-success btn-lg btn-block" (click)="nextInput()">View Matches >></button>