<input type="email" id="email" placeholder="Email here">
<p >
    By checking the box and clicking "View Positions" I understand that I may be called or received SMS messages (msg and data rates may apply) by our Marketing Partners at the email, landline or mobile phone number I provided, even if my number is on the federal or a State do not call list. I acknowledge that the call or SMS message may be made using an autodailer and may include prerecorded messages. I understand my consent is not required to perform a job search, or to purchase or use any goods or services offered. Skip here
    to continue without providing consent. For SMS message campaigns: Text STOP to stop and HELP for help. Msg &amp; data rates may apply. Periodic messages; max. 30/month.
  </p>  
        <button class="btn btn-success btn-md" id="checkboxButton">
            <i class="fa fa-check-square"></i><input class="form-check-input" type="hidden" id="check"
          checked="true" ng-value="true"> I AGREE
    </button>
    
  <button type="button" class="btn btn-success btn-lg btn-block" (click)="nextInput()">View Positions >></button>