/* You can add global styles to this file, and also import other style files */
/* variables */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #ddd; 
      
  }
  
  .jumbotron {
    width: 50%;
    margin: 25px auto;
    background-color: #f3f3f3;
    padding: 0 0 50px 0;
    display:block;
    position: absolute;
      margin-right: auto;
      margin-left: auto;
    left: 0;
    right: 0;
    border-radius: 7px; }
  
  .page-header {
    margin: 0 auto;
    padding: 15px 0;
    background-color: #333366;
    color: #fff;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px; }
  
  .page-header h1 {
    text-align: center;
    font-size: 42px; }
  
  .thumbnail {
    border-radius: 0;
    width: auto;
    border: 0; }
    .thumbnail img {
      max-width: 450px; }
  
  .list-group {
    margin-top: 20px; }
  
  .glyphicon {
    color: #472F91;
    margin-right: 15px; }
  
  .job-details {
    margin: 50px auto;
    /* float: left; */
    width: 75%; }
    .job-details .thumbnail {
      background: transparent;
      float: left;
      margin-bottom: 0; }
    .job-details .list-group {
      float: left;
      margin-bottom: 50px; }
  
  .comments {
    margin: 2.5rem auto 0;
    max-width: 100%;
    padding: 0 1.25rem; }
    .comments .add-comment {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 15px 0; }
      .comments .add-comment .photo .avatar {
        height: 6.25rem;
        width: 6.25rem; }
      .comments .add-comment .comment-block {
        border: 1px solid #ddd;
        padding-left: 10px;
        padding: 1rem;
        background-color: #fff; }
  
  .comments h4 {
    color: #256ea9; }
  
  .comment-wrap {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem; }
  
  .photo {
    display: table-cell;
    width: 3.5rem; }
  
  .photo .avatar {
    height: 7.25rem;
    width: 7.25rem;
    background-size: contain;
    margin-right: 30px; }
  
  .comment-block {
    background-color: transparent;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    padding: 0; }
  
  .comment-block textarea {
    width: 100%;
    resize: none; }
  
  .jumbotron p {
    font-size: 16px;
    line-height: 25px;
    color: #8a8a8a; }
  
  p.comment-text {
    margin-bottom: 1.25rem;
    font-size: 14px;
    line-height: 25px;
    color: #000;
    font-weight: 400; }
  
  .bottom-comment {
    color: #256ea9;
    font-size: 14px;
    font-weight: 600; }
  
  .comment-date {
    float: left; }
  
  .comment-actions {
    float: left;
    padding-left: 0; 
      font-size: 12px;
  }
  
  .comment-actions li {
    display: inline;
    margin: -2px;
    cursor: pointer; }
  
  .comment-actions span {
    color: #ddd; }
  
  .comment-actions li.complain {
    padding-right: 0.75rem; }
  
  .comment-actions li.reply {
    padding-left: 0.75rem;
    padding-right: 0.125rem; }
  
  .comment-actions li.minutes {
      padding-left: 0.4em;
      color: gray; 
  }
  
  .comment-actions span {
     margin: 0 0.25em;
      color: gray;
   }
  
  .comment-actions li:hover {
    color: #0095ff; }
  
  input, textarea {
    outline: none;
    border: none;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    font-family: "PT Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    font-size: 1rem;
    color: #555f77; }
  
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #ced2db;
    font-size: 16px; }
  
  input::-moz-placeholder, textarea::-moz-placeholder {
    color: #ced2db;
    font-size: 16px; }
  
  input:-moz-placeholder, textarea:-moz-placeholder {
    color: #ced2db;
    font-size: 16px; }
  
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #ced2db;
    font-size: 16px; }
  
  .questions-block {
    width: 60%;
    margin: 50px auto; }
    .questions-block .btn {
      width: 70%;
      margin: 25px auto;
      display: block; }
  
  .questions-block .page-header {
    background-color: #616161; }
    .questions-block .page-header h3 {
      font-size: 28px;
      color: #fff;
      text-align: center;
      margin: 0; }
  .questions-block .panel-body .checkbox {
    text-align: center;
    background-color: #4CAF50;
    padding: 15px 0;
    font-size: 18px;
    color: #fff; }
  .questions-block .panel-body input {
      border: 1px solid #ddd;
      width: 60%;
      height: 40px;
      padding: 5px 15px;
      margin: 15px 0 50px;
      font-size: 18px;
      margin: 25px auto;
  }
  
  .navbar-why-you-so-small > .navbar-collapse {
    background-color: rgba(51, 51, 51, 0.8); }
  
  .progress {
    margin-top: 50px;
    margin-bottom: 0; }
  
  .progress-bar {
    text-align: left;
    white-space: nowrap;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer; }
  
  .progress-bar > .progress-type {
    padding-left: 10px; }
  
  .progress-meter {
    min-height: 40px;
    margin-top: -30px; }
  
  .progress-meter > .meter {
    position: relative;
    float: left;
    min-height: 40px;
    border-width: 0px;
    border-style: solid;
    border-color: #a0a0a0; }
  
  .progress-meter > .meter-left {
    border-left-width: 2px; }
  
  .progress-meter > .meter-right {
    float: right;
    border-right-width: 2px; }
  
  .progress-meter > .meter-right:last-child {
    border-left-width: 2px; }
  
  .progress-meter > .meter > .meter-text {
    position: absolute;
    display: inline-block;
    bottom: -20px;
    width: 100%;
    font-weight: 700;
    font-size: 0.85em;
    color: #a0a0a0;
    text-align: center; }
  
  .progress-meter .meter-text {
    text-align: center; }
  
  .list-group-item {
    background-color: transparent;
    border: 0; }
  
  footer div{
      text-align: center;
      font-size: 0.6em;
  }
  
  /*# sourceMappingURL=style.css.map */
  .bounce {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 1.5s infinite linear;
    -o-animation: bounce 1.5s infinite linear;
    -webkit-animation: bounce 1.5s infinite linear;
    animation: bounce 1.5s infinite linear;
    colr:000;
  }
  .fa-caret-down {
      color: #7DD600;
      margin-top: -0.7em;
  }
  .btn-success{
      background-color: #7DD600;
  }
  @-webkit-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-moz-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-o-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @-ms-keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }
  @keyframes bounce {
      0% { top: 0; }
      50% { top: -0.2em; }
      70% { top: -0.3em; }
      100% { top: 0; }
  }